.header {
    text-align: center;
    color: #006600;
}

.request {
    color: #0000FF;
}

.tenbai {
    text-align: center;
    color: #FF3399;
    background-color: #FECFFD;
}

.content {
    text-align: center;
    background-color: #FFFFCC;
}
hr {
    width: 20%;
}

.text1 {
    color: #0000FF;
}

.text2 {
    color: #FF3399;
}

.text3 {
    color: #006600;
}