.bai5 {
    background: rgb(160, 160, 160);
    border-color: black;
    border: 4px;
}

h1 {
    text-align: center;
    padding: 12px 0 28px 0;
}

hr {
    width: 100%;
    size: px;
    color: rgb(0, 0, 0);
}

.brand {
    margin-left: 40px;
}

.text3 {
    padding-bottom: 24px;
}